@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800;900&display=swap");

:root {
  --colour1: #2f4f75;
  --colour2: #9a9cc2;
  --colour3: #99bddf;
  --colour4: #f0e9f9;
  --colour4: #e2e2e2;
  --colour5: #9a9cc26b;
  --font: "Inter", sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

html {
  font-size: 15px;
  font-family: "Inter", sans-serif !important;
  scroll-behavior: smooth;
}

button {
  cursor: pointer;
  padding: 1rem 2rem;
  font-weight: 700;
  border: 0;
  color: var(--colour2);
  background: var(--colour1);
  border-radius: 4px;
}

button:hover,
button:focus {
  outline: 2px solid var(--colour1);
  outline-offset: 1px;
}
iframe{
  width: min(600px, 100%);

}

body {
  background-color: var(--colour4);
  background-image: radial-gradient(var(--colour2) 5%, transparent 5%);
  background-position: 10px 10px;
  background-size: 10px 20px;
  animation: fadeInAnimation ease 1s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

@keyframes fadeInAnimation {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}



.container {
  width: 95%;
  margin-inline: auto !important;
}

img {
  display: block;
  max-width: 100%;
}

button,
input {
  font-family: "Inter", sans-serif;
}

h2 {
  font-size: 1.5rem;
  color: var(--colour1);
}

a {
  text-decoration: none;
  color: var(--colour1);
}

a:hover {
  color: darkseagreen;
  text-decoration: none;
}

a:visited {
  text-decoration: none;
}



/* Primary Navigation */

.primary-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 1rem 0;
}

.menu-icon {
  display: none;
}

.logo {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  margin-left: 0.5rem;
}

.logo-image {
  width: 3rem;
  aspect-ratio: 1/1;
  border-radius: 100vmax;
}

.logo-text {
  font-weight: 900;
  font-size: 1.25rem;
  color: var(--colour1);
  cursor: pointer;
}

.primary-navigation {
  list-style-type: none;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.primary-navigation li {
  padding: 0.5rem 1rem;
}

.primary-navigation li a {
  font-weight: 700;
  text-decoration: none;
  color: var(--colour1);
  transition: color 250ms;
  position: relative;
}

.primary-navigation li a:hover {
  color: darkseagreen;
}

.user-image {
  width: 30px;
  height: 30px;
  border-radius: 100vmax;
}

::-webkit-scrollbar {
  width: 5px;
  height: 5px;
  cursor: pointer;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px rgba(128, 128, 128, 0);
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: gray;
  border-radius: 5px;
}

/* FOOTER */

.footer {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  background-color: var(--colour1);
  color: var(--colour4);
  padding: 1.5rem;
  gap: 1rem;
}

.footer .item p {
  margin: 1rem 0;
}

.footer .item a {
  color: var(--colour4);
}

.footer .item .links a i {
  color: var(--colour4);
  transition: all 200ms;
}

.footer .item .links a i:hover {
  color: var(--colour3);
  transform: translateY(-5px);
}

.footer .item h3 {
  color: white;
  margin: 1rem 0;
}

.fa {
  padding-right: 10px;
  color: var(--colour2);
}

/* hero section */
.hero_section {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding: 1rem;
  margin-block: 2rem;
  position: relative;
}

.hero {
  background-image: linear-gradient(to bottom, var(--colour5), var(--colour5)),
    url("./images/background2.png");
  background-size: cover;
  background-position: center;
  width: 100%;
  min-height: 700px;
  padding: 2rem;
  border-radius: 5px;

  position: relative;
}

.hero>.container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 70%;
  text-align: center;
  font-size: 1.125rem;
}

.hero .container .info>* {
  margin: 2rem;
}

.hero .container .info h1 {
  font-size: 3rem;
}

.hero .container .info h2 {
  font-size: 1.5rem;
  color: var(--colour1);
}

.hero .container .info button {
  cursor: pointer;
  padding: 1rem 2rem;
  font-weight: 700;
  border: 0;
  color: var(--colour1);
  background: var(--colour2);
}

.hero .container .info button:hover,
.hero .container .info button:focus {
  outline: 2px solid var(--colour2);
  outline-offset: 1px;
}

.features {
  text-align: center;
  margin: 3rem 0;
}

.features_container {
  display: grid;
  grid-template-columns: repeat(3, 300px);
  justify-content: space-evenly;
  gap: 2rem;
  padding: 30px;
}

.feature {
  border: 1px solid #2f4f75;
  border-radius: 5px;
  padding-bottom: 2rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  /* background-color: white; */
  overflow: hidden;
}

.feature img {
  object-fit: cover;
  /* opacity: 80%; */

}

.feature p {
  padding: 0 1rem;
}

.property_display {
  margin: 10px 0px;
}

.properties {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: start;
  overflow-x: scroll;
  position: relative;
}

.property-box {
  position: relative;
  min-width: 300px;
  aspect-ratio: 10 / 14;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  color: var(--colour1);
  padding: 0px;
  margin: 20px 40px;
  border-radius: 5px;
}

.property-box .detail {
  position: absolute;
  bottom: 1rem;
  left: 1rem;
  color: white;
  font-size: 1.25rem;
  font-weight: 700;
}

.property-box .detail .name {
  text-transform: capitalize;
  font-size: 2rem;
}

.property-box .detail .city {
  font-size: 1rem;
}

.property-box .detail .price {}

.property_image {
  background-size: cover;
  background-position: 0% 0%;
  background-repeat: no-repeat;
  position: relative;
  max-width: 100%;
  height: 100%;
  border-radius: 5px;
  animation: pan-image 100s infinite;
}

@keyframes pan-image {

  0%,
  100% {
    background-position: top left;
  }

  50% {
    background-position: bottom right;
  }
}

.contact_email {
  font-size: 10px;
}

.contact_number {
  font-size: 10px;
}

@media (max-width: 840px) {
  .container {
    padding: 0 1rem;
  }

  .menu-icon {
    display: block;
    z-index: 100;
    background-color: transparent;
    border: none;
    background: url("../assets/images/icon-menu.svg");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center center;
    width: 32px;
    height: 31px;
  }

  .menu-icon[data-open="true"] {
    background: url("../assets/images/icon-menu-close.svg");
  }

  .primary-navigation {
    position: fixed;
    inset: 0 0 0 100%;
    background-color: var(--clr-ofwhite);
    flex-direction: column;
    padding-top: 8rem;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 1rem;
    color: black;
    font-weight: 800;
    transition: all 250ms;
  }

  .primary-navigation[data-open="true"] {
    inset: 0 0 0 20%;
  }

  .main {
    gap: 0;
    row-gap: 2rem;
    grid-template-columns: 1fr;
    grid-auto-rows: minmax(1fr, 250px);
  }

  .main>* {
    grid-column: 1 / 1;
  }

  .banner-image {
    grid-row: 1 / 2;
    margin-bottom: 1rem;
  }

  .banner-image img {
    min-height: 250px;
  }

  .banner {
    grid-row: 2 / 3;
    flex-direction: column;
  }

  .banner h1 {
    font-size: 2.75rem;
  }

  .banner-content p {
    margin-block: 1rem;
  }

  .banner-content button {
    padding: 1.5rem 3.5rem;
    margin-block: 1rem;
  }

  .new {
    grid-row: 3 / 4;
  }

  .news {
    grid-row: 4 / 5;
    flex-direction: column;
  }
}

/*





























*/
.error {
  color: firebrick;
  font-weight: 500;
  display: inline;
}

body,
input,
button,
textarea {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
textarea{
  height: 80px;
}


.heading {
  text-align: center;
  margin: 2rem;
}

.heading h1 {
  line-height: 100%;
  margin: 0 0 1rem 0;
}

.form_box {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 300px;
}

.form_block {
  margin-bottom: 2rem;
}

label {
  display: block;
  font-weight: 600;
  font-size: medium;
  margin-block: 0.5rem;
}

input,textarea {
  width: 100%;
  padding: 0.5rem;
  font-size: 1rem;
  font-weight: 600;
  border: 1px solid var(--colour2);
}

input:hover,
input:focus,textarea:hover,textarea:hover{
  border-radius: 1px;
  outline: 2px solid var(--colour2);
}

input[type="submit"] {
  color: var(--colour1);
  font-weight: 600;
  background-color: var(--colour2);
  border: 0;
}

input[type="submit"]:hover,
input[type="submit"]:focus {
  outline: 2px solid var(--colour2);
  outline-offset: 1px;
}

.signup_tip {
  margin-top: 0.5rem;
  font-weight: 600;
  font-size: 1.05rem;
  color: var(--colour1);
}

.dashboard-btn {
  padding: 0.5rem 1.5rem;
}