/* @import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&family=Roboto:ital,wght@1,300&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&family=Roboto:ital,wght@1,300&display=swap');
:root {
	/* --colour1: rgba(23, 36, 42, 0.665); */
	/* --colour2: #ADEFD1FF; */
	/* --colour1: #00203FFF;    */
	/* --colour2: #89ABE3FF;
	--colour1: #FCF6F5FF;    */
	/* 	
	--colour1: #a9dce3;
	--colour2: #7689de;
	--colour3: #a9dce383; */

	--colour1: #2F4F75;
	--colour2: #9A9CC2;
	--colour3: #99BDDF;
	--colour4: #F0E9F9;
	--colour5: #9a9cc26b;

	--font: "Montserrat", sans-serif
		/* background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.488)), url("./images/bg.jpg"); */
		/* background-size: cover; */
		/* background-position: center; */
}

html {
	scroll-behavior: smooth;
}
::-webkit-scrollbar {
	width: 5px;
	height: 5px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
	box-shadow: inset 0 0 5px rgba(128, 128, 128, 0);
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
	background: gray;
	border-radius: 5px;
  }


body {
	font-family: var(--font);
	padding: 0px;
	margin: 0px;
	background-color: var(--colour3);
	color: var(--colour2);
	animation: spawn 0.5s;
	background-image:linear-gradient(to bottom, var(--colour5), var(--colour5)), url("./images/pattern.png");
	background-size: 20%;
	background-repeat:repeat;

}
@keyframes spawn {
	0% { opacity: 0; }
	100% { opacity: 1; }
  }
.bg {
	background-color: var(--colour2);
	width: 100%;
}

.form_box {
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
	color: white;
	padding: 20px;
}

.form_box .item {
	padding: 0px;
	display: flex;
	flex-direction: row;
	justify-content: center;

}

.form_box .heading {
	background: #2f4f75db;
	height: 50px;
	justify-content: center;
	border-radius: 4px;
	padding: 0px;
	padding-top: 20px;
	margin: 0px;
}


form {
	background-color: var(--colour5);
	width: 500px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	margin: 0px;
	margin-top: 10px;
	padding: 0px;
	padding-bottom: 20px;
	border-radius: 4px;
	height: auto;
}

input[type="text"],
input[type="password"],
input[type="email"],
input[type="textbox"] {
	width: 40%;
	padding: 8px;
	margin: 10px;
	margin-right: 50px;
	border: 1px solid #ccc;
	border-radius: 4px;
	box-sizing: border-box;
	resize: vertical;
	background-color: rgb(252, 252, 252);
}

input[type="file"] {
	border-radius: 4px;
	font-family: "Montserrat", sans-serif;
	width: 40%;
	padding: 8px;
	margin: 10px;
}


input[type="textbox"] {
	height: 70px;
}

.form_label {
	width: 50%;
	margin: 10px;
	text-align: center;
	color: white;
	font-size: 18px;
}


.submit {
	color: white;
	padding: 10px 20px;
	cursor: pointer;
	border: 1px solid white;
	background-color: var(--colour2);
	border-radius: 5px;
	font-size: 18px;
}

.submit:hover {
	background-color: black;
}







header {
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
	background-color: var(--colour1);
	color: white;


}

.logo {
	margin-right: auto;
	max-height: 54px;
	width: auto;
}

.search {
	margin-right: auto;
}

.nav_links {
	padding: 0px 10px;
	display: flex;
	flex-direction: row;
	justify-content: right;
	list-style: none;
}

.nav_links li {
	padding: 0px 20px;

}

a:link {
	font-weight: bold;
	color: var(--colour2);
	text-decoration: none;
}

a:visited {
	color: var(--colour2);
	text-decoration: none;
}

a:hover {
	color: white;
	background-color: transparent;
	text-decoration: none;
}


/* hero section */
.hero_section {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	padding: 50px;
}

.hero {
	color: white;
	background-image: linear-gradient(to bottom, var(--colour5), var(--colour5)), url("./images/background2.png");
	background-size: cover;
	background-position: center;
	width: 70%;
	height: auto;
	padding: 30px;
	border-radius: 5px;
}

.hero .container {
	display: flex;
	align-items: center;
	flex-direction: column;
	margin: 0 auto;
	width: 70%;
}

.hero .container .info h1 {

	font-size: 3rem;
	margin-bottom: 2rem;
}

.hero .container .info h2 {
	font-size: 1.5rem;
	margin-bottom: 1.5rem;
	color: var(--colour1);

}

.hero .container .info p {
	font-size: 1rem;
	margin-bottom: 2rem;
	max-width: 70%;
}

.hero .container .info a {
	font-size: 1rem;
	display: inline-block;
	color: white;
}

.features_container {
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
	padding: 30px;
	background-image:linear-gradient(to bottom, var(--colour5), var(--colour5)), url("./images/pattern3.png");
	background-size: 10%;
	background-repeat:repeat;
	border: 5px solid var(--colour1);
  	height: 400px;
}

.feature {

	height: 250px;
	padding: 10px 30px;
	display: inline-flex;
	flex-direction: column;
	justify-content: space-evenly;
	width: 200px;
	align-self: center;
	border-radius: 4px;
	
}

.feature:nth-child(1) {
	background-image:
		linear-gradient(to bottom, #2f4f7589, #f0e9f995),
		url('./images/listing.jpg');
	background-size: cover;
	color: white;
}

.feature:nth-child(2) {
	background-image:
		linear-gradient(to bottom, #2f4f7589, #f0e9f995),
		url('./images/search.jpg');
	background-size: 100% 100%;
	color: white;
}

.feature:nth-child(3) {
	background-image:
		linear-gradient(to bottom, #2f4f7589, #f0e9f995),
		url('./images/contact.jpg');
	background-size: cover;
	color: white;
}

.feature h2 {
	color: var(--colour2);
	position: relative;
	top: 10px;
	text-align: center;
	max-width: 200px;
	font-weight: bold;
	color: #2F4F75;
}

.feature p {
	color: white;
	display: inline-block;
	text-align: center;
	max-width: 200px;
}

.footer {
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
	background-color: var(--colour1);
	padding: 0px;
}

.footer .item {
	max-width: 250px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.footer .item h3 {
	color: white;
	position: relative;
	top: 10px;

}

.fa {
	padding-right: 10px;
	color: var(--colour2);
}


#property_display{
	border: 5px solid var(--colour1);
}
#property_display h2{
	color: var(--colour1);
	height: 30px;
	margin: 0px;
	padding: 20px 35px;
	background-color: var(--colour3);
}

.properties{
	display: flex;
	flex-direction: row;
	justify-content:start;
	/* background-color: var(--colour2); */
	overflow-x:scroll;
	color: var(--colour1);

}
.property_box{
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	background-color: #99bddfc3;
	/* background-color: var(--colour4); */
	color: var(--colour1);
	padding: 0px;
	margin: 30px;
	border-radius: 5px;
}
.property_box .submit{
	background-color: rgba(255, 255, 255, 0);
	border: 0px;
}
.property_box .submit:hover{
	background-color: black;
}
.image_box{
	width: 300px;
	height: 200px;
	align-self: center;
	border-radius: 5px;
	margin: 0px;
}
.image_box .property_image{
	width: 100%;
	height: 100%;
	object-fit:cover;
	border-radius: 5px;
}
.pr{
	padding: 2px 10px;
	max-width: 280px;
	overflow: hidden;
	text-overflow: ellipsis;
  	white-space: nowrap;
}
.contact_email{
	font-size: 10px;
}
.contact_number{
	font-size: 10px;
}
.search_box{	
	margin-right: auto;
}