@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&family=Roboto:ital,wght@1,300&display=swap');
:root{
	--colour1 :rgba(23, 36, 42, 0.665);
	--colour2 : #3aafa9e4;
}
html{
	scroll-behavior: smooth;
}


body {
	font-family: "Montserrat", sans-serif;
	padding: 0px;
	margin: 0px;
	background-color: var(--colour2);
	
}
.bg{
	background-image: linear-gradient(to bottom,rgba(0, 0, 0, 0.5),rgba(0, 0, 0, 0.488)),url("./images/background.png") ;
	background-size: cover;
	background-position:center;
	width: 100%;
}
.form_box {

	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
	color: white;
	/* justify-content: space-between; */
}

.form_box .item {
	display: flex;
	flex-direction: row;
	justify-content: center;

}

.form_box .heading {
	background: #17252A;
	height: 50px;
	justify-content: center;
	border-radius: 4px;
	padding: 0px;
	padding-top: 20px;
	margin: 0px;
}


form {
	background: linear-gradient(rgb(23,36,42 ), rgba(222,242,241,0.86));
	width: 500px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	margin: 0px;
	margin-top: 10px;
	padding: 0px;
	padding-bottom: 20px;
	border-radius: 4px;
	height: auto;
}

input[type="text"],
input[type="password"],
input[type="email"] {
	width: 40%;
	padding: 8px;
	margin: 10px;
	margin-right: 50px;
	border: 1px solid #ccc;
	border-radius: 4px;
	box-sizing: border-box;
	resize: vertical;
	background-color: rgb(252, 252, 252);
}

.form_label {
	width: 50%;
	margin: 10px;
	text-align: center;
	color: white;
	font-size: 18px;
}


.submit {
	color: white;
	padding: 10px 20px;
	cursor: pointer;
	border: 1px solid white;
	background-color: var(--colour2);
	border-radius: 5px;
	font-size: 18px;
}

.submit:hover {
	background-color: black;
}







header {
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
	background-color: var(--colour1);
	color: white;


	/* vertical-align: middle; */
}

.logo {
	margin-right: auto;
	max-height: 54px;
	width: auto;
}

.search {
	margin-right: auto;
}

.nav_links {
	padding: 0px 10px;
	display: flex;
	flex-direction: row;
	justify-content: right;
	list-style: none;
}

.nav_links li {
	padding: 0px 20px;

}

a:link {
	font-weight: bold;
	color: var(--colour2);
	text-decoration: none;
}

a:visited {
	color: var(--colour2);
	text-decoration: none;
}

a:hover {
	color: white;
	background-color: transparent;
	text-decoration: underline;
}


/* hero section */

.hero {
	color: white;
	background-image: linear-gradient(to bottom,rgba(0, 0, 0, 0.5),rgba(0, 0, 0, 0.488)),url("./images/background.png") ;
	/* no-repeat center / cover; */
	background-size: cover;
	width: 100%;
	height: auto;
	padding-bottom: 30px;
}



.hero .container{
	display: flex;
	align-items: center ;
	flex-direction: column;
	margin: 0 auto;
	width: 50%;
}
.hero .container .info h1{

	font-size: 3rem;
	margin-bottom: 2rem;
}
.hero .container .info h2{
	font-size: 1.5rem;
	margin-bottom: 1.5rem;
	color: var(--colour2);

}
.hero .container .info p{
	font-size: 1rem;
	margin-bottom: 2rem;
	max-width: 60%;
}
.hero .container .info a{
	font-size: 1rem;
	display: inline-block;
	color: white;
}

.features_container{
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
	padding: 30px;
	background-color: white;
}
.feature{
	
	height: 250px;
	padding: 10px 30px;
	display: inline-flex;
	flex-direction: column;
	justify-content: space-evenly;
	width: 200px;
	align-self: center;
	border-radius: 4px;
	
}
.feature:nth-child(1){
	/* background-image: linear-gradient(black,black) url("./images/listing.jpg"); */
	background-image:
    linear-gradient(to bottom,rgba(0, 0, 0, 0.73),rgba(245, 246, 252, 0.52)),
    url('./images/listing.jpg');
    background-size: cover;
    color: white;
}

.feature:nth-child(2){
	/* background-image: linear-gradient(black,black) url("./images/listing.jpg"); */
	background-image:
    linear-gradient(to bottom,rgba(0, 0, 0, 0.73),rgba(245, 246, 252, 0.52)),
    url('./images/search.jpg');
	background-size: 100% 100%;
    color: white;
}
.feature:nth-child(3){
	background-image:
    linear-gradient(to bottom,rgba(0, 0, 0, 0.73),rgba(245, 246, 252, 0.52)),
    url('./images/contact.jpg');
    background-size:cover;
	/* background-size: 100% 100%; */
    color: white;
}
.feature h2{
	color: var(--colour2);
	position: relative;
	top: 10px;
	text-align: center;
	max-width: 200px;
	font-weight: bold;
}
.feature p{
	color: white;
	display: inline-block;
	text-align: center;
	max-width: 200px;
}

.footer{	
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
	/* padding: 10px; */
	background-color: var(--colour1);

}
.footer .item{
	max-width: 250px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}
.footer .item h3{
	color: white;
	position: relative;
	top: 10px;

}
.fa{
	padding-right: 20px;
	color: var(--colour2);
}